
/*************************
      GENERAL
**************************/

#wrapper {
	max-width: 980px;
	margin: 0 auto;
	padding: 0 5%;
}
ul,
ol {
    margin: 3px 5px;
}

li {
    margin-bottom: 10px;
}

nav a:hover {
  color:  #ffff99;
}
a:link {
    color: #00ff00;
}
/* visited link */

}
img a {
    float: right;
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}

#img {
    max-width: 100%;
    float:right;
    margin: 0px -5px 10px 10px;
    box-shadow: 6px 5px 2px 3px #3a4e5f;
    border-radius: 65px;
    opacity: 0.8;
    border-style: ridge;
}

h3 {
	margin: 0 0 1em 0;
}
/*************************
      HEADING
**************************/
}
h2 {
	font-family: 'Slabo 27px', serif;
	font-size: 1.40em;
	margin: -5px 0 0;
	font-weight: normal;
}
/*************************
       FOOTER
**************************/
/* Layout Styles ------------------ */

footer {
	font-size: 0.70em;
	text-align: center;
	clear: both;
	padding-top: 1px;
	color: rgb(9, 10, 10);
}
.wildstyle {
  color: black;
  text-align: center;
  padding: 1% 24% 5px 5px;
  border-top: 10px solid #000080;
  margin: 0px 0 60px;
  background: #809fff url('../img/') no-repeat center;
  background-size: cover;
  box-shadow: inset 0 0 50px 10px rgba(0,0,0, .8);
  border-radius: 10px;
}
.mildstyle {
  color: black;
  text-align: center;
  padding: 1% 24% 5px 5px;
  border-top: 10px solid #004d66;
  margin: 0px 0 60px;
  background: #00bfff url('../img/') no-repeat center;
  background-size: cover;
  box-shadow: inset 0 0 50px 10px rgba(0,0,0, .8);
  border-radius: 10px;
}
.flydstyle {
  color: black;
  text-align: center;
  padding: 1% 24% 5px 5px;
  border-top: 5px solid #330000;
  margin: 0px 0 60px;
  background: #990000 url('../img/') no-repeat center;
  background-size: cover;
  box-shadow: inset 0 0 50px 10px rgba(0,0,0, .8);
  border-radius: 10px;
}
.social-icon {
	width: 20px;
	height: 20px;
	margin: 0 5px;
}
.contact-info {
	list-style: none;
	padding: 0;
	margin: 0;
	font-size: 0.9em;
}
a.contact-info {
	display: block;
	min-height: 20px;
	background-repeat: no-repeat;
	background-size: 20px 20px;
	padding: 0 0 0 30px;
}
.contact-info li.phone a {
	background-image: url('../img/phone.png');
}
.contact-info li.mail a {
	background-image: url('../img/mail.png');
}
.contact-info li.twitter a {
	background-image: url('../img/twitter.png');
}
/*************************
COLORS
**************************/
.profile-photo {
	display: block;
	max-width: 150px;
	margin: 0 auto 30px;
	border-radius: 100%;
}
.main-header {
    max-height: 190px ;
    
  }
header {
 	background: rgba(102, 163, 255, 0.98) 	
}
header h1 {
  font-family: David-Libre;
  color: #0C0061;
}
nav {
 	background: rgba(0, 82, 204, 0.98)

}
h1 {
  font-size: 35px;
  margin: 4px;
  padding: 0px 0px 0px 0px;
  font-weight: bold;
  line-height: 1.8em;             /**im trying to find my nesting format for my css=====
                                                    ====credit to @JabalTorres**/
}


h2 {
  font-family: Yatra One;
  font-size:1.4em;
}

h3 {
  font-family: Yatra One;
  font-size:1.3em;
}
h4 {
  font-family: impact;
  font-size: 1.2em;
}
p {
  font-weight: 800;

}
nav a:hover {
  color:  #ffff99;
}
 /*site body*/

 