
/*************************
HEAD & BODY 
**************************/
.bodystyle {
  color: black;
  text-align: center;
  text-decoration: none;
  padding: 1px 2px 5px 5px;
  border-top: 10px solid #004d66;
  margin: 0px 0px 0px;
  background: #00bfff url('../img/') no-repeat center;
  background-size: cover;
  box-shadow: inset 0 0 50px 10px rgba(0,0,0, .8);
  border-radius: 10px;
}
.headstyle {

  text-align: center;
  text-decoration: none;
  padding: 1px 2px 5px 5px;
  border-top: 2px solid #330000;
  margin: 0px 0px 0px 0px;
  background: #13ecec url('../img/') no-repeat center;
  background-size: cover;
  box-shadow: inset 0 0 50px 10px  rgba(115, 140, 140, 0.89);
  border-radius: 10px;
}
h1 {
  font-size: 35px;
  margin: 4px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
  font-weight: bold;
  line-height: 1.8em;             /**im trying to find my nesting format for my css=====
                                                    ====credit to @JabalTorres**/
}
header h1 {
  font-family: David-Libre;
  color: #0C0061;
}
ul,
ol {
    text-decoration: none;
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}

li {
    list-style-type: none;
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}



a {
    text-decoration: none;
    position: relative;
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}
/****************************
FONT
*****************************/
h2 {
  font-family: Yatra One;
  font-size:1.4em;
}
h3 {
  font-family: Yatra One;
  font-size:1.3em;
}
h4 {
  font-family: impact;
  font-size: 1.2em;
}
p {
  font-weight: 800;
  margin: 10px 17px 7px 15px;
}
a:hover {
  color:  #ffff99;
}
.wildstyle {
  color: black;
  text-align: center;
  padding: 1px 2px 5px 5px;
  border-top: 10px solid #000080;
  margin: 0px 0px 10px 0px;
  background: #809fff url('../img/') no-repeat center;
  background-size: cover;
  box-shadow: inset 10px 7px 50px 10px rgba(0,0,0, .8);
  border-radius: 10px;
}

#wrapper {
	max-width: 980px;
	margin: 0 auto;
	padding: 0 5%;
}

#img {
    max-width: 100%;
    position: relative;
    margin: 0px -5px 10px 10px;
    box-shadow: 6px 5px 2px 3px #3a4e5f;
    border-radius: 65px;
    opacity: 0.8;
    border-style: ridge;
}
#imgc {
    max-width: 100%;
    
    margin: 0px -5px 10px 10px;
    box-shadow: 6px 5px 2px 3px #3a4e5f;
    border-radius: 65px;
    opacity: 0.8;
    border-style: ridge;
}
img {

}
/****************************


*****************************/


h3 {
	margin: 0 0 1em 0;
}

}
h2 {
	font-family: 'Slabo 27px', serif;
	font-size: 1.40em;
	margin: -5px 0 0;
	font-weight: normal;
}
/****************************


*****************************/

.mildstyle {
  color: black;
  text-align: center;
  text-decoration: none;
  padding: 1px 2px 5px 5px;
  border-top: 10px solid #004d66;
  margin: 0px 0px 0px 0px;
  background: #00bfff url('../img/') no-repeat center;
  background-size: cover;
  box-shadow: inset 0 0 50px 10px rgba(0,0,0, .8);
  border-radius: 10px;
}
.flydstyle {
  color: black;
  text-align: center;
  padding: 1px 2px 5px 5px;
  border-top: 5px solid #330000;
  margin: 0px 0px 0px 0px;
  background: #b3f0ff url('../img/') no-repeat center;
  background-size: cover;
  box-shadow: inset 0px 0px 50px 10px rgba(0,0,0, .8);
  border-radius: 10px;
}

.contactstyle {

  text-align: left;
  text-decoration: none;
  padding: 1px 2px 5px 5px;
  border-top: 2px solid #330000;
  margin: 0px 0px 0px 0px;
  background: #80609f url('../img/') no-repeat center;
  background-size: cover;
  box-shadow: inset 0 0 50px 10px  rgba(115, 140, 140, 0.89);
  border-radius: 10px;

}
.bodcystyle {
  color: black;
  text-align: center;
  text-decoration: none;
  padding: 1px 2px 5px 5px;
  border-top: 10px solid #004d66;
  margin: 0px 0px 0px;
  background: #00bfff url('../img/') no-repeat center;
  background-size: cover;
  box-shadow: inset 0 0 50px 10px rgba(0,0,0, .8);
  border-radius: 10px;
}
.headcstyle {

  text-align: center;
  text-decoration: none;
  padding: 1px 2px 5px 5px;
  border-top: 2px solid #330000;
  margin: 0px 0px 0px 0px;
  background: #13ecec url('../img/') no-repeat center;
  background-size: cover;
  box-shadow: inset 0 0 50px 10px  rgba(115, 140, 140, 0.89);
  border-radius: 10px;
}
.social-icon {
	width: 20px;
	height: 20px;
	margin: 0 5px;
}
.contact-info {
	list-style: none;
	padding: 0px 0px 0px 0px;
	margin: 0px 0px 0px 0px;
	font-size: 0.9em;
}
a.contact-info {
	display: block;
	min-height: 20px;
	background-repeat: no-repeat;
	background-size: 20px 20px;
	padding: 0 0 0 30px;
}
.contact-info li.phone a {
	background-image: url('../img/phone.png');
}
.contact-info li.mail a {
	background-image: url('../img/mail.png');
}
.contact-info li.twitter a {
	background-image: url('../img/twitter.png');
}
/*************************
COLORS
**************************/

/****************************
BOTTOM
*****************************/
footer {
  font-family: cursive;
  width: 82%;
  background-color: rgba(103, 159, 185, 0.85);
  color: black;
  margin: 0px auto 0px auto;
  border-radius: 20px;
  text-align: center;
  font-size: 0.90em;
  clear: both;
  padding-top: 1px;
  
}

aside {
  width:80%;
  height: 20%;
  margin: 0px 0px 0px 0px;
  font-size:.6em;
  background:#000033;
  padding:20px;
  border:3px solid #1a1aff;
  border-radius:75px;

}
aside h2  {
    color: #e6e600;
    font-size: 15px
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}
aside p {
    color: #e6e600;
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}

.button {
  border-style: solid;
  border-width: 0px;
  font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
  font-weight: normal;
  line-height: 1.5;
  margin: 0 0 1.25rem;
  position: relative;
  text-decoration: none;
  text-align: center;
  -webkit-appearance: none;
  -webkit-border-radius: 0;
  display: inline-block;
  padding-top: 1rem;
  padding-right: 2rem;
  padding-bottom: 1.0625rem;
  padding-left: 2rem;
  font-size: 1rem;
  background-color: #0c1335;
  border-color: #0a0f2a;
  color: #FFFFFF;
  transition: background-color 300ms ease-out;
}
}


 