/*  GO FULL WIDTH AT LESS THAN 480 PIXELS */
/****************************


*****************************/

@media only screen and (min-width: 460px) {
    
    aside {
    	width: 190px;
    	height: 150px;
    	margin: auto;
    	
}

}
/*  GO FULL WIDTH AT LESS THAN 700 PIXELS */
/****************************


*****************************/

@media screen and (min-width: 620px) {
   
   aside{
    width: 300px;
    height: 65px;
    margin-top: 0px;
    margin-bottom: 10px;
    
     }

}
/****************************


*****************************/
/****************************


*****************************/
/****************************


*****************************/
